{% csrf_token %}
{{ form.non_field_errors }}
{{ form.added_by.errors }}
<input type="hidden" name="added_by" value="{{ request.user.id }}">

<div>
    {{ form.title.errors }}
    {{ form.title.label_tag }}
    {{ form.title }}
</div>
<div>
    {{ form.director.errors }}
    {{ form.director.label_tag }}
    {{ form.director }}
</div>
<div>
    {{ form.release_date.errors }}
    {{ form.release_date.label_tag }}
    {{ form.release_date }}
</div>
<div>
    {{ form.genre.errors }}
    {{ form.genre.label_tag }}
    {{ form.genre }}
</div>
<div>
    {{ form.description.errors }}
    {{ form.description.label_tag }}
    {{ form.description }}
</div>
<div>
    {{ form.poster.errors }}
    {{ form.poster.label_tag }}
    {{ form.poster }}
</div>