{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Freelancer Portfolio Website{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include "./header.html" %}
    <div class="main-wrapper">
        {% block body %}
        {% endblock body %}

    </div>
{% include "./footer.html" %}
    <script src="{% static 'js/demo.js' %}"></script>
</body>
</html>