<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTL Syntax</title>
</head>
<body>
    <h1>My name is {{ my_name }}</h1>

    {% if is_dark %}
    <p>You are dark in complexion</p>
    {% else %}
    <p>You are not dark in complexion</p>
    {% endif %}  



{% comment "" %}

{% endcomment %}

    <ul>
    {% for name in students %}
    <li>{{ name }}</li>
    {% endfor %}  
    </ul>
</body>
</html>