{% extends "partials/base.html" %}

{% block body %}
<div class="container">
        <div class="grid">
            {% for book in books %}
            <a href="{% url 'pages:book_detail' book.id %}">
            <div class="book">
                <img src="{{ book.cover_image.url }}" alt="{{ book.title }}">
                <h3>{{ book.title }}</h3>
                <p>{{ book.author }}</p>
            </div>
            </a>
            {% empty %}
            <p>No books available.</p>
            {% endfor %}
        </div>
</div>
{% endblock body %}

