{% extends "partials/base.html" %}
{% load static %}

{% block body %}

<section class="authentication-container forms">
    <div class="form login">
        <div class="form-content">
            <header>Login</header>
            <form action="{% url 'authentication:login' %}" method="POST">
                {% csrf_token %}
                <div class="field input-field">
                    <input type="text" name="username" placeholder="Username" class="input">
                </div>

                <div class="field input-field">
                    <input name="password" type="password" placeholder="Password" class="password">
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <div class="form-link">
                    <a href="#" class="forgot-pass">Forgot password?</a>
                </div>

                <div class="field button-field">
                    <button type="submit">Login</button>
                </div>
            </form>

            <div class="form-link">
                <span>Don't have an account? <a href="{% url 'authentication:sign_up' %}" class="link signup-link">Signup</a></span>
            </div>
        </div>

        <div class="line"></div>

        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Login with Facebook</span>
            </a>
        </div>

        <div class="media-options">
            <a href="#" class="field google">
                <img src="{% static 'images/google.png' %}" alt="" class="google-img">
                <span>Login with Google</span>
            </a>
        </div>

    </div>
</section>
{% endblock body %}